@import "../../../../assets/css/global/global.css";

header{
  background-color: yellow;
  height: 10vh;
}
main{
  display: flex;
  height: 80vh;
}
main aside{
  min-width: 20rem;
  background-color: green;
}
main section{
  background-color: rgb(0, 92, 128);
  flex: 1;
}


footer{
  background-color: aquamarine;
  height: 10vh;
}