img{
  width: 100%;
}

button{
  border: none;
  outline: none;
  padding: .6rem 1.2rem;
  border-radius: .25rem;
  background-color: #888;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  font-weight: bold;
  opacity: .9;
  transition: all .2s ease-in-out;
}

input{
  border: none;
  outline: .1rem solid #ccc;
  padding: .5rem .8rem;
}

label{
  margin-top: .5rem;
}

