header{
  width: 100%;
  background-color: rgb(47, 48, 48);
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
}

.imagem{
  width: 8rem;
}

#button__modal {
  color: #fff;
  font-weight: bold;
  background-color: black;
}
#button__modal:hover{
  background-color: rgb(138, 57, 57);
}